# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# Models & big files (nu versionăm)
AI_models/
models/
*.pt
*.onnx
*.tflite
*.param
*.joblib

# Media grea
Media/Poze/*-hires*
Media/*.mp4
Media/*.avi
Media/*.mov
*.zip
*.7z

# Outputs & data
data/
outputs/
*.csv

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
